<html>
<head>
	<title>Repository Details</title>
	<link rel='stylesheet' href='/css/style.css' />
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/js/scrilla.js"></script>

</head>
<body>
<p>Repository name: <%= name %></p>
<p>Open Issues: <%= openIssues %>&nbsp;<a href=../issue/details/<%= name %>>Details</a></p>
<p>Watchers: <%= watchers %></p>
<p>Created at: <%= creation %></p>
<p>Description: <%= description %></p>
<p>Number of forks: <%= forksNo %></p>
<p></p>
<p>Commits URL: <a href=<%= commitsUrl %>><%= commitsUrl %></a></p>
<div class="button-wrap-static">
<% for (var i = 0; i < history.length; i++) { %>
   <div class='repo-hist'><% partDate = history[i].date.split(' = '); 
partDate = partDate[0].substring(0, 10);%>
<%= partDate %><span class='issue-count'><%= history[i].issues %></div>  
<% i} %> 
</div>
</body>
</html>
