<html>
<head>
	<title>Repository Details</title>
	<link rel='stylesheet' href='/css/style.css' />
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/js/scrilla.js"></script>

</head>
<body>
<p>Repository name: <%= name %></p>
<p>Open Issues: <%= openIssues %>&nbsp;<a href=../issue/details/<%= name %>>Details</a></p>
<p>Watchers: <%= watchers %></p>
<p>Created at: <%= creation %></p>
<p>Description: <%= description %></p>
<p>Number of forks: <%= forksNo %></p>
<p></p>
<p>Commits URL: <a href=<%= commitsUrl %>><%= commitsUrl %></a></p>
<div class="button-wrap-static">
<% for (var i = 0; i < history.length; i++) { %>
   <%      
   	date = history[i].split(' ');
   	cd = date[2]+ " " + date[1] + " " + date[3]
   %>
<div  class='open-issue-repo'><%= cd %><span class='issue-count'><%= issuesTrend[i] %></span></div>  
<% i} %> 
</div>
</body>
</html>
