<html>
<head>
	<title>Repository Details</title>
	

</head>
<body>
<p>Repository name: <%= name %></p>
<p>Open Issues: <%= openIssues %>&nbsp;<a href=../issue/details/<%= name %>>Details</a></p>
<p>Watchers: <%= watchers %></p>
<p>Created at: <%= creation %></p>
<p>Desription: <%= description %></p>
<p>Number of forks: <%= forksNo %></p>
<p></p>
<p>Commits URL: <a href=<%= commitsUrl %>><%= commitsUrl %></a></p>
</body>
</html>
